#head{

    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding-left: 550px;
}
.container{
    min-height: 100vh;
    padding: 50px;
    max-width: 500px;
    margin: 0 auto; 
}

button{
    cursor: pointer;
    margin: 20px;  
}
form{
    margin: 10px;
    width: 100%;
    padding: 10px;
}
body{
    background-color: darkkhaki;
}
